@import "variables";
@import "mixins";
@import "fonts.scss";

html {
  font-family: Inter, serif;
}

h1 {
  font-family: Wix Madefor Display;
  font-size: 160px;
  font-style: normal;
  font-weight: 800;
  line-height: 200px; /* 125% */
  letter-spacing: -4px;
  text-transform: uppercase;
  color: $colorRed;
}
h2 {
  font-family: Inter, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  color: #2B2B2B;
}
h3 {
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  text-transform: uppercase;
  color: #0E0E0E;
}
p {
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

header {
  @include sticky-block;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(30px);
  @include flex-row();
  justify-content: space-between;
  padding: 24px;
  z-index: 2;

  ul {
    display: flex;
    gap: 64px;

    li {
      font-size: 20px;
      font-weight: 500;

      a {
        color: $colorBlack
      }
    }
  }

  .header-links {
    @include flex-row();
    gap: 120.5px;
  }

  .links {
    @include flex-row();
    gap: 38px;
    font-size: 16px;

    @include a-style;
  }

}

.offers {
  position: -webkit-sticky;
  position: sticky;
  @include flex-row();
  gap: 39px;
  top: 120px;
  padding: 0 24px 0 24px;
  margin-bottom: 24px;
  z-index: 2;

 &__title {
   background:url('../images/Background-text.png');
   background-repeat:no-repeat;
   background-size: 1214px;
   background-position: -32px 3px;
   color:#ff000066;
   -webkit-font-smoothing:antialiased;
   -webkit-background-clip:text;
   -moz-background-clip:text;
   background-clip:text;
   -webkit-text-fill-color:#ff000066;
   margin:0;
 }
}

.introducing-title {
  @include sticky-block();
  top: 120px;
  display: flex;
  justify-content: flex-end;
  padding-right: 520px;
}

.introducing-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 40px;


  &__card {
    position: relative;
    flex: 33%;

    img {
      width: 100%;
    }


    &:hover {
      p {
        display: block;
      }
    }

  }


  &__description {
    position: absolute;
    bottom: 0;
    padding: 24px;
    width: 100%;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(15px);
    color: $colorBlack;

    p {
      display: none;
    }
  }
}


footer {
  @include flex-column;
  @include sticky-block;
  top: 120px;
  gap: 60px;
}

.gift-shop {
  img {
    width: 100%;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 93px 180px 17px;
  background-color: $backgroundColorLightGrey;

  &__logos {
    @include flex-column;
    gap: 29px;

  }


  &__sponsors {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    padding-left: 179px;

    :last-child {
      width: 221px;
      height: 33px;
    }
  }

  &__navigation {
    ul {
      @include flex-column;
      padding-top: 30px;
      gap: 30px;

      li {
        font-size: 20px;
        font-weight: 400;

        a {
          color: $colorBlack;
        }
      }
    }
  }

  &__social-network {
    @include a-style;
  }
}