@import "variables";
@import "mixins";
@import "fonts";

html {
  font-family: Inter, serif;
}

h1 {
  font-family: Wix Madefor Display, serif;
  font-size: 8.333333333333334vw;
  font-style: normal;
  font-weight: 800;
  line-height: 4.736275565123789vh; /* 125% */
  letter-spacing: -0.4175365344467641vw;
  text-transform: uppercase;
  color: $colorRed;
}
h2 {
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 500;
  line-height: 4.736275565123789vh;
  color: #2B2B2B;
}
h3 {
  font-size: 1.0416666666666667vw;
  font-style: normal;
  font-weight: 500;
  line-height: 6.947890818858561vh; /* 140% */
  text-transform: uppercase;
  color: #0E0E0E;
}

h4 {
  font-family: Wix Madefor Display, serif;
  font-size: 2.0833333333333335vw;
  font-style: normal;
  font-weight: 800;
  line-height: 12.903225806451612vh; /* 130% */
  text-transform: uppercase;
  color: #0E0E0E;
}

span {
  font-size: 1.0416666666666667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 3.013993541442411vh; /* 140% */
}

p {
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 5.166846071044134vh;
}

a {
  font-size: 1.0416666666666667vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $colorBlack;

  &:visited {
    color: $colorBlack;
  }
}

.cursorPointer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

body.cursor-none, body.cursor-none * {
  cursor: none !important;
}

header {
  @include sticky-block;
  top: 0;
  left: 0;
  right: 0;
  background: $colorWhite;
  //background: rgba(255, 255, 255, 0.60);
  //backdrop-filter: blur(30px);
  @include flex-row();
  justify-content: space-between;
  padding: 1.25vw;
  z-index: 1000;

  .header-logo {
    img {
      width: 18.229166666666668vw;
    }
  }

  ul {
    display: flex;
    gap: 3vw;

    li {
      font-size: 1.0416666666666667vw;
      font-weight: 500;
      cursor: pointer;

      a {
        color: $colorBlack
      }
    }
  }



  .social-links {
    @include flex-row();
    gap: 2vw;
    font-size: 0.8333333333333334vw;

    .sound-wave-wrapper {
      position: relative;

      .sound-wave-clue {
        position: absolute;
        width: 8.125vw;
        bottom: -3.6875vw;
        right: -2.87vw;
      }
    }

    .sound-wave {
      width: 2.5vw;
    }

    a {
      color: $colorRed;

      &:visited {
        color: $colorRed;
      }
    }
  }

  .burger-menuBtn {
    display: none;
  }

}

main {
  position: relative;
  width: 100%;
  height: 92.57265877287406vh;
  margin-bottom: 100vh;
  overflow: hidden;

  .bg-video {
    position: fixed;
    top: 6.35vw;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .about {
    position: absolute;
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    top: 23.3389666308vh;
    padding: 0 8.75vw 0 8.75vw;
    z-index: 1;
  }

  .present {
  	pointer-events: none;
    position: absolute;
    /*padding-left: 37.5vw;*/
    padding-left: 49.5vw;
    top: 71.4692142088vh;
    @include flex-row;
    justify-content: center;
    gap: 5.833333333333333vw;
    z-index: 1;

    img {
      width: 6.666666666666667vw;
    }
  }

}

.main-content {
  @include flex-column;
  justify-content: center;
  height: 92.57265877287406vh;
  position: relative;
  background: $colorWhite url("../images/Map-bg.png") no-repeat;
  background-size: cover;
  background-position-y: -13.993541442411194vh;
  mix-blend-mode: screen;
  user-select: none;
  transform: translate3d(0,0,0);

  &__title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    h1 {
      font-family: Wix Madefor Display, serif;
      font-size: 16.666666666666668vw;
      font-style: normal;
      font-weight: 800;
      line-height: 32.29278794402583vh;
      letter-spacing: -1.25vw;
      color: $colorBlack;
    }
    h4 {
      font-family: Wix Madefor Display, serif;
      font-size: 2.0833333333333335vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.7916666666666666vw;
      text-transform: uppercase;
      color: $colorBlack;
    }
  }
}

.titles {
  position: -webkit-sticky;
  position: sticky;
  top: 6.25vw;
  @include flex-row();
  //4.3057050592034445vh
  padding: 0 1vw 0 1vw;
  background: $colorWhite;
  overflow: auto;
  z-index: 10;

  img {
    width: 46.197916666666664vw;
  }

  h1 {
    line-height: 10.416666666666666vw; /* 125% */
    letter-spacing: -0.20833333333333334vw;
  }
}

.sticky-subtitle {
  position: -webkit-sticky;
  position: sticky;
  top: 8vw;
  z-index: 10;
  padding-left: 50vw;
  padding-bottom: 50px;

  h2 {
    background: $colorWhite;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2916666666666665vw;
  }
}

.not-sticky {
  position: revert;
  display: flex;
  gap: 2.5520833333333335vw;
  padding: 0 1vw 0 1vw;
  align-items: center;

  img {
    width: 46.197916666666664vw;
  }
}

.introducing-classic-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4.166666666666667vw;
  .introducing-classic-cards__card {
    width: 33.334%;
    height: 32.2vw;
    overflow: hidden;
    position: relative;
    transition: 0.5s linear;

    img {
      width: 50vw;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .introducing-classic-cards__description {
      z-index: 2;
      position: absolute;
      bottom: 0;
      height: auto;
      background: $colorWhite;
      color: $colorBlack;
      padding: 2.583423035522067vh 1.25vw;
      width: 100%;

      h3 {
        line-height: 1.4583333333333333vw;
      }

      p {
        transition: 0.4s;
        opacity: 0;
        height: 0;
        line-height: 1.25vw;
      }
    }

    .introducing-classic-cards__news {
      @include flex-column;
      gap: 1.3541666666666667vw;
    }
  }
  .news-cards {
    width: 25%;
  }
}

.introducing-classic-cards__card.active {
  .introducing-classic-cards__description {
    p {
      height: 3rem;
      opacity: 1;
    }
  }
  .introducing-classic-cards__news {
    p {
      margin-bottom: 1.3541666666666667vw;
    }
  }
}

.introducing-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4.166666666666667vw;
  .introducing-cards__card {
    width: 33.334%;
    height: 32.2vw;
    overflow: hidden;
    position: relative;
    transition: 0.5s linear;

    img {
      width: 50vw;
      position: absolute;
      top: 0;
      z-index: 1;
    }
    &:nth-child(1) {
      img {
        left: 0;
      }
    }
    &:nth-child(2) {
      img {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &:nth-child(3) {
      img {
        right: 0;
      }
    }
    .introducing-cards__description {
      z-index: 2;
      position: absolute;
      bottom: 0;
      height: auto;
      background: $colorWhite;
      color: $colorBlack;
      padding: 2.583423035522067vh 1.25vw;
      width: 100%;

      h3 {
        line-height: 1.4583333333333333vw;
      }

      p {
        transition: 0.4s;
        opacity: 0;
        height: 0;
        line-height: 1.25vw;
      }
    }
  }
  .introducing-cards__card.active {
    .introducing-cards__description {
      p {
        height: 2vw;
        opacity: 1;
      }
    }
  }
}

.introducing-cards.active {
  .introducing-cards__card {
    width: 25%;
  }
  .introducing-cards__card.active {
    width: 50%;
  }
}

.calendar-section {
  @include flex-column;
  gap: 2.0833333333333335vw;
  padding-bottom: 2.0833333333vw;
  margin-bottom: 4.166666666666667vw;

  &__show-more {
    color: $colorBlack;
    margin: auto;
    border-radius: 2.6041666666666665vw;
    width: 25.416666666666668vw;
    height: 4.791666666666667vw;
    padding: 1.4583333333333333vw 6.927083333333333vw;
    font-size: 1.1979166666666667vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875vw;
  }
}

.calendar-wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 30px;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.calendar-months {
  font-family: Wix Madefor Display, serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 800;
  line-height: 2.7083333333333335vw;
  text-transform: uppercase;
  @include flex-row;
  justify-content: flex-start;
  gap: 1.25vw;
  padding: 0.5208333333333334vw 0 0.5208333333333334vw 1.40625vw;
  cursor: pointer;

  &__month {
    color: $colorLightGrey;
  }
  .month_active {
    color: $colorRed;
    transition: 0.5s;
  }
}

.calendar-days__days-and-filters {
  @include flex-column;
  gap: 0.8333333333333334vw;
  padding: 0 1.25vw 0 1.25vw;
}

.calendar-days {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .calendar-days-wrapper {
    width: 100vw;
    display: flex;
  }

  button {
    @include flex-row;
    border-radius: 50%;
    background: transparent;
    img {
      width: 2.5vw;
    }
  }
  span {
    line-height: normal;
    &:last-child {
      font-size: 0.8333333333333334vw;
      font-weight: 400;
    }
  }
  .day_active {
    position: absolute;
    background: $colorRed;
    color: $colorWhite;
    border-radius: 1.25vw;
    transition: 0.5s;
    z-index: 2;
    height: 100%;
    width: 100%;



    .weekend {
      color: $colorWhite;
    }
  }

  .day_range_first {
    position: absolute;
    background: $colorLightGrey;
    border-radius: 1.25vw 0 0 1.25vw;
    z-index: 1;
    height: 3.9583333333333335vw;
    width: 100%;
    left: 0.2604166666666667vw;
  }
  .day_range_second {
    position: absolute;
    background: $colorLightGrey;
    border-radius: 0 1.25vw 1.25vw 0;
    z-index: 1;
    height: 3.9583333333333335vw;
    width: 100%;
    right: 0.2604166666666667vw;
  }
  .day_range {
    background: $colorLightGrey;
  }
}

.day_disabled .day_initial {
	color: #aaaaaa;
	opacity: 0.8;
	cursor: default;
}

.calendar-days.is-range {
  .days-range {
    display: block;
  }
}
.calendar-days__day {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  flex-grow: 1;
  cursor: pointer;

  .day_initial {
    @include flex-column;
    align-items: center;
    justify-content: center;
    height: 3.9583333333333335vw;
    width: 2.3958333333333335vw;
  }

  .weekend {
    color: $colorRed;
  }
}

.calendar-filters {
  @include flex-row;
  gap: 0.5208333333333334vw;

  &__filter {
    @include flex-row;
    justify-content: space-between;
    gap: 0.4166666666666667vw;
    padding: 0.7291666666666666vw 1.0416666666666667vw 0.7291666666666666vw 1.0416666666666667vw;
    border-radius: 1.7708333333333333vw;
    transition: 0.5s;
    background: $colorLightGrey;
    cursor: pointer;
  }

  .filter_active {
    background: $colorRed;
    color: $colorWhite;
    transition: 0.5s;
    align-items: center;
    padding: 0.7291666666666666vw 0.625vw 0.7291666666666666vw 1.0416666666666667vw;

    .filter_count {
      color: $colorBlack;
    }
  }

  .filter_count {
    @include flex-row;
    justify-content: center;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    background: $colorWhite;
    font-size: 0.8333333333333334vw;
  }

  button {
    background: transparent;
  }

  .filter_closeBtn {
    width: 1.25vw;
    height: 1.25vw;
  }
}

.calendar-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calendar-card {
  @include flex-column;
  gap: 1.3541666666666667vw;
  padding: 1.25vw 1.25vw 1.25vw 1.25vw;
  min-height: 17.5vw;
  background: $colorWhite;
  backdrop-filter: blur(0.78125vw);


  &__topic {
    @include flex-row;
    justify-content: space-between;

    svg {
      width: 1.25vw;
      height: 1.25vw;
    }

    span {
      font-size: 0.8333333333333334vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.0416666666666667vw; /* 125% */
      letter-spacing: 0.2vw;
      text-transform: uppercase;
    }
  }

  &__description {
    @include flex-column;
    gap: 0.625vw;

    h3 {
      font-size: 1.0416666666666667vw;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4583333333333333vw;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.25vw;
    }
  }

  &__date {
    @include flex-row;
    gap: 0.4166666666666667vw;

    p {
      line-height: 1.25vw;
    }

    svg {
      width: 1.25vw;
      height: 1.25vw;
    }
  }
}

.how-to-get-there {
  @include flex-row;

  &__link {
    flex: 50%
  }

  img {
    width: 100%;
  }
}

.FAQ {
  margin-bottom: 16.666666666666668vw;

  h4 {
    cursor: pointer;
    line-height: 2.7083333333333335vw;
  }
}
.accordion {
  margin: 0 1.25vw 0 0.8854166666666666vw;
  &__question {
    @include flex-row;
    justify-content: space-between;
    border-bottom: 0.026041666666666668vw solid $colorBlack;
    padding: 1.25vw 0 1.25vw 0;

    img {
      width: 2.5vw;
      height: 2.5vw;
    }
  }

  &__answer {
    padding-left: 50%;
    margin: 0 1.25vw 0 1.25vw;
    padding-bottom: 1.25vw;
    border-bottom: 0.026041666666666668vw solid $colorBlack;
  }
}

.gift-shop {
  margin-bottom: 4.166666666666667vw;
  img {
    width: 100%;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.166666666666666vw;
  padding: 2.1875vw 1.25vw 5.46875vw;
  background-color: $backgroundColorLightGrey;

  &__logos {
    @include flex-column;
    justify-content: space-between;
    gap: 15vw;
  }

  &__logo {
    img {
      width: 34.548854166666665vw;
    }
  }

  &__sponsors {
    @include flex-row;
    gap: 2.0833333333333335vw;

    :first-child {
      width: 8.117760416666666vw;
    }
    :last-child {
      width: 12.791354166666666vw;
    }

    a {
      img {
        width: 100% !important;
      }
    }
  }


  &__social-network {
    @include flex-column;
    gap: 2.0833333333333335vw;
    padding-top: 3.2291666666666665vw;
  }

  &__links-wrapper {
    @include flex-column;
    gap: 0.9375vw;
  }

  &__links {
    @include flex-row;
    gap: 0.9375vw;

    img {
      width: 1.25vw;
      height: 1.25vw;
    }
    a {
      color: $colorRed;

      &:visited {
        color: $colorRed;
      }
    }
  }
}

footer {
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8020833333333335vw;
    padding: 0.625vw 0.5208333333333334vw;
    background: $colorRed;

    p {
      font-size: 1.0416666666666667vw;
      line-height: 1.4583333333333333vw;
      color: $colorWhite;
    }
  }
}

.back-to-main {
  @include flex-row;
  gap: 0.4166666666666667vw;
  background: transparent;
  margin-left: 1.25vw;
  font-size: 1.0416666666666667vw;
  line-height: 1.25vw;
}

.event-details-page {
  @include flex-row;
  align-items: flex-start;
  gap: 10vw;
  padding-left: 1.25vw;
  padding-top: 2.2916666666666665vw;
}

.event {
  &__info {
    @include flex-column;
    gap: 2.2916666666666665vw;

    h1 {
      font-size: 4.166666666666667vw;
      font-style: normal;
      font-weight: 800;
      line-height: 4.375vw; /* 105% */
      letter-spacing: -0.16666666666666666vw;
      text-transform: uppercase;
    }

    span {
      font-size: 0.8333333333333334vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.0416666666666667vw; /* 125% */
      letter-spacing: 0.2vw;
      text-transform: uppercase;
    }

    .event-date-and-point-wrapper {
      @include flex-row;
      gap: 1.875vw;

      .date {
        @include flex-row;
        gap: 0.4166666666666667vw;

        svg {
          width: 1.25vw;
          height: 1.25vw;
        }
      }

      .point {
        @include flex-row;
        gap: 0.4166666666666667vw;

        svg {
          width: 1.25vw;
          height: 1.25vw;
        }
      }
    }
  }

  &__details {
    @include flex-column;
    gap: 2.0833333333333335vw;
    margin-bottom: 4.166666666666667vw;

    img {
      width: 50vw;
    }

    .details_description {
      @include flex-column;
      gap: 1.4583333333333333vw;
    }
  }

  &__gallery-wrapper {
    @include flex-column;
    gap: 1.6666666666666667vw;
  }

  &__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 4.166666666666667vw;

    img {
      width: 12.5vw;
    }
  }

  &__members {
    @include flex-column;
    gap: 1.6666666666666667vw;

    .members_list {
      @include flex-row;
    }

    .members_member {
      @include flex-column;
      gap: 0.625vw;

      h3 {
        font-size: 1.0416666666666667vw;
        line-height: 1.4583333333333333vw;
      }
      p {
        font-size: 0.9375vw;
        line-height: 1.25vw;
      }
      img {
        width: 16.666666666666668vw;
      }
    }
  }
}

.br-mobile {
  display: none;
}
