@import "variables";

@media (max-width: 767px) {
  header {
      padding: 1.2917115177610334vh;
      .header-logo {
        img {
          width: 19.590958019375673vh;
        }
      }

      nav {
        display: none;
      }

      .social-links {
        display: none;
      }

      .burger-menu-wrapper {
        display: block;

        .burger-menu {
          border: none;
          background: transparent;
        }
      }
    }

  main {
      .bg-video {
        top: 7vh;
      }

      .about {
        top: 20.548977395vh;
        padding: 0 1.2917115177610334vh 0 1.2917115177610334vh;

        span {
          position: relative;
          font-size: 1.5069967707212055vh;
          line-height: 2.1528525296017222vh;
          text-align: center;
          white-space: nowrap;
          &:nth-child(2) {
            position: absolute;
            top: -13vh;
            left: 10.656620021528525vh;
            right: 10.656620021528525vh;
            white-space: pre-wrap;
          }
          .about-mobile {
            display: block;
          }
        }
      }
      .present {
        flex-direction: column-reverse;
        top: 50vh;
        text-align: center;
        margin: 0;
        padding: 0 3.8751345532831003vh 0 3.8751345532831003vh;
        gap: 7.642626480086114vh;

        .present-desktop {
          display: none;
        }

        span {
          font-size: 16px;
        }

        img {
          width: 5.597416576964478vh;
        }
      }
    }

  .main-content {
      background: url("../images/Map-bg-mobile.png") no-repeat;
      background-position-y: -2.9935414424000015vh;
      background-size: 100vw 80vh;
      display: block;
      padding-top: 31.431646932185146vh;

      h1 {
        font-size: 7.7vh;
        font-style: normal;
        font-weight: 800;
        line-height: 6.7vh; /* 70.968% */
        letter-spacing: -0.5005382131324005vh;
      }

      h4 {
        font-size: 1.8vh;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5317545748116255vh;
      }
    }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.7222820236813778vh 1.2917115177610334vh 0 1.2917115177610334vh;

    .subtitle-desktop {
      display: none;
    }

    h1 {
      font-size: 4.3057050592034445vh;
      font-style: normal;
      font-weight: 800;
      line-height: 5.166846071044134vh; /* 95% */
      letter-spacing: -0.10764262648008611vh;
    }

    h2 {
      padding-left: 0;
      font-size: 1.7222820236813778vh;
      font-style: normal;
      font-weight: 500;
      line-height: 2.1528525296017222vh;
    }

    img {
      width: 55%;
    }
  }

  .introducing-cards {
    .introducing-cards__card {
      img {
        width: 100vw;
      }
    }

    .introducing-cards__description {
      h3 {
        font-size: 1.7222820236813778vh;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
      }

      p {
        font-size: 1.5069967707212055vh;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .introducing-cards-mobile {
    margin-bottom: 4.736275565123789vh;
    .splide {
      padding: 0;

      .splide__arrow {
        width: 4.3057050592034445vh;
        height: 4.3057050592034445vh;
      }

      .splide__arrow--next {
        background: url("../images/Cursor-mobile.svg");
        background-size: cover;
        svg {
          opacity: 0;
        }
      }

      .splide__arrow--prev {
        opacity: 0;
      }

      .splide__arrow:disabled {
        opacity: 0;
      }
      .splide__pagination {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        bottom: -1.7222820236813778vh
      }

      .splide__pagination__page.is-active {
        background: $colorRed;
      }
      .splide__pagination__page {
        width: 32vw;
        margin: 0;
        height: 0.21528525296017223vh;

        &:hover {
          background-color: #ccc;
        }
      }
    }

    h3 {
      font-size: 1.7222820236813778vh;
      line-height: 2.3681377825618943vh;

    }

    p {
      font-size: 1.5069967707212055vh;
      line-height: 2.1528525296017222vh;
    }

    .introducing-cards-mobile__card {
      img {
        width: 100%;
      }

      .introducing-cards-mobile__description {
        z-index: 2;
        position: absolute;
        bottom: 0;
        height: auto;
        background: rgba(255, 255, 255, 0.60);
        backdrop-filter: blur(.6146393972012918vh);
        color: $colorBlack;
        padding: 1.2917115177610334vh;
        width: 100%;

        p {
          transition: 0.4s;
          opacity: 0;
          height: 0;
        }
      }
    }
  }

  .introducing-cards-mobile__card.active {
    .introducing-cards-mobile__description {
      p {
        height: 8vh;
        opacity: 1;
      }
    }
  }

  .calendar-section {
    &__show-more {
      margin-top: 3.4445640473627557vh;
      margin-bottom: 3.4445640473627557vh;
      font-size: 1.7222820236813778vh;
      line-height: 3.8751345532831003vh;
      height: 6.458557588805167vh;
      border-radius: 3.2292787944025836vh;
      width: 37.78256189451022vh;
    }
  }

  .calendar-cards {
    display: grid;
    grid-template-columns: 100%;
  }

  .calendar-card {
    padding: 1.2917115177610334vh 1.2917115177610334vh 1.2917115177610334vh 1.2917115177610334vh;
    min-height: 25.618945102260493vh;
    justify-content: space-between;

    &__topic {
      svg {
        width: 2.1528525296017222vh;
        height: 2.1528525296017222vh;
      }

      span {
        font-size: 1.2917115177610334vh;
        line-height: 2.1528525296017222vh; /* 125% */
        letter-spacing: 0.310010764262648vh;
      }
    }

    &__description {
      gap: 2.1528525296017222vh;
      h3 {
        font-size: 1.7222820236813778vh;
        line-height: 2.3681377825618943vh;
      }

      p {
        font-size: 1.5069967707212055vh;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.1528525296017222vh;
      }
    }

    &__date {
      gap: 0.8611410118406889vh;

      p {
        font-size: 1.2917115177610334vh;
        line-height: normal;
      }

      svg {
        width: 2.1528525296017222vh;
        height: 2.1528525296017222vh;
      }
    }
  }

  .how-to-get-there {
    flex-direction: column;
  }

  .FAQ {

    h4 {
      font-size: 2.583423035522067vh;
      line-height: 3.013993541442411vh;
    }

    .accordion {
      margin: 0 1.2917115177610334vh 0 1.2917115177610334vh;

      &__question {
        align-items: flex-start;
        border-bottom: 0.05382131324004306vh;

        img {
          width: 4.3057050592034445vh;
          height: 4.3057050592034445vh;
        }
      }

      &__answer {
        padding: 2.583423035522067vh 1.2917115177610334vh 1.7222820236813778vh 1.2917115177610334vh;

        span {
          font-size: 1.5069967707212055vh;
          line-height: 2.1528525296017222vh;
        }
      }
    }
  }

  .footer {
    flex-direction: column-reverse;
    gap: 3.4445640473627557vh;
    padding: 4.3057050592034445vh 1.2917115177610334vh 4.3057050592034445vh 1.2917115177610334vh;


    &__sponsors {
      :first-child {
        width: 18.945102260495155vh;
      }
      :last-child {
        width: 18.945102260495155vh;
      }
    }

    &__social-network {
      gap: 1.7222820236813778vh;

    }

    &__links-wrapper {
      span {
        font-size: 1.7222820236813778vh;
        line-height: 2.1528525296017222vh;
      }
    }

    &__links {
      gap: 1.9375672766415502vh;

      a {
        font-size: 1.5069967707212055vh;
      }

      img {
        width: 2.1528525296017222vh;
        height: 2.1528525296017222vh;
      }
    }
  }
}