@import "variables";
@import "mixins";

@media (max-width: 1300px) and (max-height: 920px) {
  h1 {
    font-size: 12.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 10rem;
    letter-spacing: -1.25vw;
  }

  span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .main-content {
    height: 100vh;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 1.7222820236813778vh 1.2917115177610334vh 0 1.2917115177610334vh;

    .subtitle-desktop {
      display: none;
    }

    h1 {
      font-size: 5rem;
      line-height: 10vh; /* 95% */
      letter-spacing: -0.10764262648008611vh;
    }

    h2 {
      padding-left: 0;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.3rem;
    }

    img {
      width: 55%;
    }
  }

  .sticky-subtitle {
    top: 13vh;
    padding-left: 55vw;
  }

  .not-sticky {
    padding: 0 1vw 0 1vw;
  }
}

@media (max-width: 1150px) and (max-height: 920px) {
  .sticky-subtitle {
    top: 11vh
  }
}

@media (max-width: 900px) {
  .sticky-subtitle {
    top: 9.5vh
  }
}

@media (max-width: 767px) {
  header {
      padding: 1.2917115177610334vh;
      .header-logo {
        img {
          width: 11.7rem;
        }
      }

      nav {
        display: none;
      }

      .social-links {
        display: none;
      }

      .burger-menuBtn {
        display: block;
        border: none;
        background: transparent;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }

        &.burger-opened {
          img {
	        width: 1.7rem;
	        height: 1.7rem;
	      }
        }
      }

      .burger-menu {
        position: absolute;
        top: 3.5rem;
        left: 0;
        z-index: 10;

        .burger-menu-wrapper {
          background: $colorWhite;
          /*height: 100%;*/
          height: 100vh;
          width: 100vw;
          @include flex-column;
          align-items: center;
          justify-content: flex-start;
          gap: 12.083961248654468vh;
          padding-top: 15.392895586652314vh;

        }

        .sound-wave {
        	width: 18vw;
        }

        &__nav {
          ul {
            @include flex-column;
            align-items: center;
            gap: 1.75rem;
          }
          a {
            font-family: Wix Madefor Display;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: 1.75rem; /* 116.667% */
            text-transform: uppercase;
          }
        }

        &__links {
          @include flex-row;
          gap: 2.35rem;
          margin-bottom: 3.5rem;
          a {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            color: #D20000;

            &:visited {
              color: #D20000;
            }
          }
        }
      }

    }

  main {
      .bg-video {
        /*top: 9vh;*/
        top: 7vh;
      }

      .about {
        top: 20.548977395vh;
        padding: 0 1.2917115177610334vh 0 1.2917115177610334vh;

        span {
          position: relative;
          font-size: 0.85rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
          text-align: center;
          white-space: nowrap;
          &:nth-child(2) {
            position: absolute;
            top: -13vh;
            left: 10.656620021528525vh;
            right: 10.656620021528525vh;
            white-space: pre-wrap;
          }
          .about-mobile {
            display: block;
          }
        }
      }
      .present {
        /*flex-direction: column-reverse;*/
        top: 50vh;
        text-align: center;
        margin: 0;
        /*padding: 0 3.8751345532831003vh 0 3.8751345532831003vh;*/
        padding: 0;
        width: 100%;
        /*gap: 60px;*/

        left: 50%;
	    transform: translate(-50%, 0);

        .present-desktop {
          display: none;
        }

        span {
          font-size: 1rem;
        }

        img {
          width: 3.25rem;
          height: 3.25rem;
        }
      }
    }

  .main-content {
      background: url("../images/Map-bg-mobile.png") no-repeat;
      background-position-y: -7.9935414424vh;
      background-size: 100vw 100%;
      background-color: $colorWhite;
      display: block;
      padding-top: 31.431646932185146vh;

      h1 {
        font-size: 7.7vh;
        font-style: normal;
        font-weight: 800;
        line-height: 6.7vh; /* 70.968% */
        letter-spacing: -0.5005382131324005vh;
      }

      h4 {
        font-size: 1.8vh;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5317545748116255vh;
      }
    }

  .titles {
    top: 6.889128094725511vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 1.7222820236813778vh 1.2917115177610334vh 4.3057050592034445vh 1.2917115177610334vh;

    .subtitle-desktop {
      display: none;
    }

    h1 {
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 800;
      line-height: 3rem; /* 95% */
      letter-spacing: -0.063rem;
    }

    img {
      width: 77%;
    }
  }

  .sticky-subtitle {
    background: $colorWhite;
    top: 17vh;
    z-index: 10;
    padding-left: 1.2917115177610334vh;
    padding-bottom: 0;


    h2 {
      background: $colorWhite;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.3rem;
      /*width: 100vw;*/
      width: 100%;
      padding-bottom: 4.3057050592034445vh;
    }
  }

  .not-sticky {
    @include flex-column;
    align-items: flex-start;
    gap: 0.43057050592034446vh;
    img {
      width: 77%;
    }
  }

  .introducing-cards {
    .introducing-cards__card {
      img {
        width: 100vw;
      }
    }

    .introducing-cards__description {
      h3 {
        font-size: 1.7222820236813778vh;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
      }

      p {
        font-size: 1.5069967707212055vh;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .introducing-cards-mobile {
    margin-bottom: 4.736275565123789vh;
    .splide {
      padding: 0;

      .splide__arrow {
        width: 52px;
        height: 52px;
        z-index: 1;
      }

      .splide__arrow--next {
        background: url("../images/Cursor-mobile.svg");
        background-size: cover;
        svg {
          opacity: 0;
        }
      }

      .splide__arrow--prev {
      	transform: scaleX(-1) translateY(-50%);
        background: url("../images/Cursor-mobile.svg");
        background-size: cover;
        svg {
          opacity: 0;
        }
      }

      .splide__arrow:disabled {
        opacity: 0;
      }
      .splide__pagination {
        background: #cbcacb;
        background-clip: content-box;
        height: 3px;
        justify-content: space-between;
        flex-wrap: nowrap;
        bottom: -1.7222820236813778vh
      }

      .splide__pagination__page.is-active {
        width: 32vw;
        height: 3px;
        background: $colorRed;
      }
      .splide__pagination__page {
        margin: 0 0 10px 0;
        width: 0.05382131324004306vh;
        height: 0.05382131324004306vh;
        transition: 0s;

        &:hover {
          background-color: #ccc;
        }
      }
    }

    h3 {
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4rem;
    }

    p {
      font-size: 0.85rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .introducing-cards-mobile__card {
      img {
        width: 100%;
      }

      .introducing-cards-mobile__description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 3;
        position: absolute;
        bottom: 0;
        height: auto;
        background: $colorWhite;
        color: $colorBlack;
        padding: 1.2917115177610334vh;
        width: 100%;

        p {
          transition: 0.4s;
          opacity: 0;
          height: 0;
        }
      }
    }
  }

  .news .introducing-cards-mobile .introducing-cards-mobile__card .introducing-cards-mobile__description {
    position: relative;
  }

  .introducing-cards-mobile__card.active {
    .introducing-cards-mobile__description {
      p {
        height: 4rem;
        opacity: 1;
      }
    }
  }

  .calendar-section {
    &__show-more {
      width: 92%;
      height: 3.75rem;
      font-size: 1rem;
      border-radius: 1.8rem;
    }
  }

  .calendar-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .calendar-months {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.7222820236813778vh;

    width: 100%;
    overflow: auto;
  }

  .calendar-days {
    /*width: 70rem;*/

    width: 100%;

    overflow: auto;

    .calendar-days-wrapper {
      width: 100%;
    }

    button {
      display: none;
    }

    span {
      font-size: 1rem;

      &:last-child {
        font-size: 0.75rem;
      }
    }

    &__days-and-filters {
      padding: 0 0.8vh 0 0.8vh;
      gap: 0.75rem;
    }

    &__day{
      /*padding: 0.57rem 1rem;*/

      padding: 0.57rem 1.17rem;

      .day_initial {
        height: 100%;
        width: 100%;
      }
    }

    .day_active {
      border-radius: 1.25rem;
    }
    .day_range_first {
      border-radius: 1.25rem 0 0 1.25rem;
      height: 100%;
      left: 0.3rem;
    }

    .day_range_second {
      border-radius:  0 1.25rem 1.25rem 0;
      height: 100%;
      right: 0.3rem;
    }
  }

  .calendar-filters {

  	overflow: auto;
  	flex-wrap: nowrap;

    gap: 0.8611410118406889vh;
    &__filter {
      gap: 0.25rem;
      border-radius: 3.6598493003229278vh;
      padding: 0.5rem 0.8rem 0.5rem 0.8rem;

      span {
        font-size: 0.85rem;
        line-height: 0.8rem;
      }
      .filter_count {
        font-size: 0.6rem;
        line-height: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
    .filter_active {
      padding: 0.5rem 0.24rem 0.5rem 0.8rem;
    }
    .filter_closeBtn {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .calendar-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    margin: 0 0.8rem 2rem 0.8rem;
  }

  .calendar-card {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    justify-content: space-between;
    /*box-shadow: 0 0 0.4rem $colorBlack;*/

    &__topic {
      svg {
        width: 2.1528525296017222vh;
        height: 2.1528525296017222vh;
      }

      span {
        font-size: 0.75rem;
        line-height: 1.3rem;
        letter-spacing: 0.18rem;
      }
    }

    &__description {
      gap: 0.75rem;
      h3 {
        font-size: 1rem;
        line-height: 1.4rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1.25rem;
      }
    }

    &__date {
      gap: 0.5rem;

      p {
        font-size: 12px;
        line-height: normal;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  .how-to-get-there {
    flex-direction: column;
  }

  .FAQ {

    h4 {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.75rem;
    }

    .accordion {
      margin: 0 1.2917115177610334vh 0 1.2917115177610334vh;

      &__question {
        align-items: flex-start;
        border-bottom: 0.05382131324004306vh;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      &__answer {
        padding: 2.583423035522067vh 1.2917115177610334vh 1.7222820236813778vh 1.2917115177610334vh;

        span {
          font-size: 0.85rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem;
        }
      }
    }
  }

  .gift-shop {
    padding-bottom: 0;
  }

  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2.5rem 0.75rem;

    &__logos {
      gap: 2.1528525296017222vh;
    }

    &__logo {
      img {
        width: 100%;
      }
    }

    &__sponsors {

   	  margin-left: 33vw;
   	  gap: 8.0833333333vw;
   	  margin-top: -5vw;

      :first-child {
        width: 11rem;
      }
      :last-child {
        width: 9.5rem;
      }
    }

    &__social-network {
      gap: 1rem;
    }

    &__links-wrapper {
      span {
        font-size: 0.9rem;
        line-height: 1.25rem;
      }
    }

    &__links {
      gap: 1.14rem;

      a {
        font-size: 0.9rem;
      }

      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  footer {
    .copyright {
      height: 2.75rem;
      padding: 0.85rem 0.5rem;

      p {
        font-size: 0.85rem;
        line-height: 1rem;
      }
    }
  }

  .back-to-main {
    font-size: 0.75rem;
    color: $colorBlack;
    margin-left: 0.75rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .event .back-to-main {
    margin-left: 0.75rem;
  }

  .event-details-page {
    @include flex-column;
    padding: 0;
    gap: 2.1528525296017222vh;
  }

  .event {
    &__info {
      padding: 1rem 0.75rem 1.25rem;
      h1 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 2.4rem; /* 105.556% */
        letter-spacing: -0.0485rem;
      }

      span {
        font-size: 0.75rem;
        line-height: 1.25rem; /* 166.667% */
        letter-spacing: 2.88px;
      }

      .event-date-and-point-wrapper {
        @include flex-column;
        align-items: flex-start;
        gap: 0.8611410118406889vh;

        p {
          font-size: 0.75rem;
          line-height: normal;
        }

        .date {
          gap: 0.8611410118406889vh;

          svg {
            width: 2.1528525296017222vh;
            height: 2.1528525296017222vh;
          }
        }

        .point {
          gap: 0.8611410118406889vh;

          svg {
            width: 2.1528525296017222vh;
            height: 2.1528525296017222vh;
          }
        }
      }
    }

    &__details {
      gap: 2.1528525296017222vh;
      margin-bottom: 4.3057050592034445vh;
      img {
        width: 100vw;
      }
      .details_description {
        gap: 3.013993541442411vh;
        /*padding: 0 1.2917115177610334vh 0 1.2917115177610334vh;*/
      }
    }

    &__gallery-wrapper {
      gap: 2.1528525296017222vh;

      margin-bottom: 5vw;

      h4 {
        padding-left: 0.75rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 1.75rem; /* 116.667% */
      }
    }

    &__gallery {
      .splide {
        width: 100vw;
        padding: 0;

        img {
          width: 100vw;
        }

        .splide__arrow {
          width: 52px;
          height: 52px;
          z-index: 1;
        }

        .splide__arrow--next {
          display: none;
        }

        .splide__arrow--prev {
          display: none;
        }

        .splide__arrow:disabled {
          display: none;
        }
        .splide__pagination {
          background: #cbcacb;
          background-clip: content-box;
          height: 3px;
          justify-content: space-between;
          flex-wrap: nowrap;
          bottom: -1.7222820236813778vh
        }

        .splide__pagination__page.is-active {
          width: 32vw;
          height: 3px;
          background: $colorRed;
        }
        .splide__pagination__page {
          margin: 0 0 10px 0;
          width: 0.05382131324004306vh;
          height: 0.05382131324004306vh;
          transition: 0s;

          &:hover {
            background-color: #ccc;
          }
        }
      }

      img:not(:first-child) {
        display: none;
      }
      img {
        width: 100%;
      }
    }

    &__members {
      gap: 2.1528525296017222vh;
      margin-bottom: 4.3057050592034445vh;

      h4 {
        padding-left: 0.75rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 1.75rem; /* 116.667% */
      }

      .members_member {
        h3 {
          padding-top: 1.2917115177610334vh;
          padding-left: 1.2917115177610334vh;
          font-size: 1rem;
          line-height: 1.4rem; /* 137.5% */
        }
        p {
          padding-left: 1.2917115177610334vh;
          font-size: 0.85rem;
          line-height: 1.25rem; /* 142.857% */
        }

        img {
          width: 50vw;
        }
        /*&:last-child {
          display: none;
        }*/
      }


    }

  }

  .br-mobile {
    display: block;
  }

  .br-desktop {
    display: none;
  }

  html {
    overflow-x: hidden;
  }

  footer {
    overflow: hidden;
    position: relative;
  }

  .bg-video.video-scrolled {
  	display: none;
  }

  #video-section {
    display: none;
  }

  .error-404 {
    gap: 3vh;
    margin-top: 21.851453175457483vh;
    margin-bottom: 21.205597416576964vh;

    img {
      width: 95%;
    }

    span {
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
    }
  }

  .event-details-page .event {
    position: relative;
    top: auto;
    margin-bottom: 0;
    width: 100%;
  }

  .event-details-content {
    width: 100%;
  }

  .event__details .details_description {
  	font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
  }

  .event__details .details_description p {
  	font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
  }

  .detail-video {
    width: 100%;
  }

  .event__details video {
    width: 100%;
  }

  .detail-video .video-placeholder img {
    width: 18.5vw;
  }

  .event__gallery a {
    width: 100%;
    height: 60vw;
  }

  .event__members .members_member .member_info p:nth-child(2) {
    margin-bottom: 3vw; 
  }

  .event__members .members_member {
    width: 50%;
  }

  .event__members .member_info {
    width: 100%;
  }

  .galleryPlaceholder {
    font-size: 6vw;
  }

  .event__members .members_list {
    margin-top: 0;
    flex-wrap: wrap;
    width: 100%;
  }

  .event__gallery {
    margin-top: 0;
  }
}

@media (max-width: 370px) {
  .main-content {
    background-position-y: -9.9935414424vh;
    h1 {
      font-size: 3.3rem;
      line-height: 3.3rem;
    }
    h4 {
      font-size: 0.85rem;
    }
  }
}